/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
footer{
	text-align:center;
}

legend{
	font-size: 30px;
}

h1{
	padding: 0 0 30px 0;
}