.span3
  .well.sidebar-nav
    %ul.nav.nav-list
      %li.nav-header Navigation
      %li
        %a{:href => root_path}
          Overview
      %li.nav-header Ad-Spaces
      %li
        %a{:href => adspaces_path}
          Ad-Spaces
      %li
        %a{:href => new_adspace_path}
          New Ad-Space
      %li.nav-header Advertisements
      %li
        %a{:href => advertisements_path}
          Advertisements
      %li
        %a{:href => new_advertisement_path}
          New Advertisement