.advertisement{:style=>'text-align:center'}
  - unless @advertisement == nil
    - if @advertisement.ad_type == 'ad_service'
      = @advertisement.ad_text.html_safe
    - elsif @advertisement.ad_type == 'image_link'
      %a{:href => rails_adserver.ad_click_path(@advertisement.id), :rel => "nofollow"}
        = image_tag @advertisement.image_url, :size => "#{@advertisement.width}x#{@advertisement.height}"